<ul class="nav ">
  <div class = 'left-section'>
    <li><%= link_to "Home", "#", class: "nav-link" %></li>
  </div>
  <div class="right-section">
    <li><%= link_to "About Me", "#", class: "nav-link" %></li>
    <li><%= link_to "Portfolio", "#", class: "nav-link" %></li>
    <li><%= link_to "Contact Me", "#", class: "nav-link" %></li>
  </div>
</ul>


<div class='banner-card'>
  <div class=content>
    <%= image_tag "IMG_0591.JPG", alt: "profile-pic"%>
    <h1>Maude Couturier</h1>
    <p>'Looking for a junior Fullstack Developer position !'</p>
  </div>
</div>
